[user]
	name = Jasper Chang
	email = jasperc8@gmail.com
[color]
	ui = auto
	branch = auto
	status = auto
	diff = auto
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	fh = fetch
	sh = stash
[core]
	excludesfile = /Users/jesperchang/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/l7/_v321cwn611b__tzlygh1ckh0000gp/T/AppTranslocation/645F03E8-7A34-4C8F-885C-6C8DFA9A884A/d/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
